@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Merriweather:ital,wght@0,400;0,900;1,300;1,400&family=Oleo+Script+Swash+Caps&family=Tapestry&display=swap');


 /*Normalize*/
:root{
    /*Colors*/
--primary:#9DA9A0;
--secondary: #72DDF7;
--alternative:#DB93B0;
--text-color: #1E3F20;
--base:#EDCD1D;

     /*Spacings*/
--spacing-large: 6rem;
--spacing-medium: 2.2rem;
--spacing-small: 2rem;
--spacing-xsmal: 1rem;    

    /*Font-Family*/
--font-principal: 'Macondo'
--dont-title: 'Merriweather'

       /*Font-Sizes*/
--text-large: 5.2em;
--text-medium: 2.4em
--text-base: 1.6em;
--text-small: 1.4em;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tapestry', cursive;
}
html{
    font-size: 62.5%;
}

header{
    background-image: url(../Images/helado\ con\ ciudad\ de\ panama\ de\ fondo1\ .jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    padding: 1rem 10%;
    align-items: center;
    height: 400px;
    width: 100%;
    margin: auto;
    padding: auto;
    align-content: center;
    /*position:absolute;*/
}

header, h1, a {
    display: inline-block;
    margin-top: 0;
    text-align: center;

}
nav, ul, li, a {
    display: inline-block;
    justify-content: center;
    align-content: center;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-basis: 60%;
}
h1{
    text-align: center;
    color: rgb(70, 44, 39);
    text-shadow: 5px 5px 8px turquoise;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    text-decoration: underline;
}
body {
    background-color: grey;
    background-image: url(../Images/top-view-delicious-organic-wine-and-grapes.jpg);
    background-blend-mode: lighten;
    position:relative;
    margin: 5px;
    padding: 5px;
}
.right__image {
    width: 400px;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    border-color: brown;
    float: right;
    border: 5px;
    background-color: rgb(7, 85, 12);
    box-sizing: border-box;
    width: 25%;
}
.index__info{
    color:rgb(47, 49, 48);
    font-size: large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:900;
    text-align:left;
    background-color: #e8e8e8;
    text-align: justify;
    height:fit-content;
    line-height: 30px;
    padding: 2px;
    margin: 20px 500px 20px 2px;
    box-shadow: 1px 2px 10px 5px black;
    display:block;
    background-size:contain;
    background-position: center;
    border: 4px;
    border-radius: 2%;
    box-sizing: 300px;
    max-width: 1300px;
    margin: 0 auto;
}
.index__logo{
    margin: auto;
    padding: 200px 80px 200px;
    margin-left: 40px;
    margin-right: auto;
    flex-basis: 40%;
    max-width: 120px;
}
.video{
    margin-bottom: 1000px;
    padding-right: 1000px;
}
footer, table, td, a {
    text-align: center;
    block-size: 100px;;
    font-weight: bold;
    margin: 0 auto;
    padding: 0 auto;
}
.helados{
    background-color: lightgray;
    background-blend-mode: lighten;
    height: 10x;
    border: 3px solid black;
    display:inline-block;
    padding: 15px;
    margin: 0;
}
.imagen__central{
    border: 10px outset #35854a;
    width: 100px;
}


/*Testimonio*/
/*Gallery*/
.gallery__container {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap:20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 20px;
    border-radius: 4px;
}
.gallery__img1{
    grid-column: 1/3;
    height: 100%;
    width: 100%;
}
 .gallery__img3 {
    grid-column: 1/ 2;
    grid-row: 2 / 3 ;
    height: 70%;
    width: 100%;
}
.gallery__img4 {
    grid-column: 2/ 3;
    grid-row: 2 / 3;
    height: 70%;
    width: 100%;
}
.gallery__img5 {
    grid-column: 3 / 5; 
    grid-row:  1 /4 ;
    height: 84.5%;
    width: 100%;
}


    /*Cards de testimonio*/
.cards {
    display: flex;
    flex-direction: row;
    gap: 6rem;
    justify-content: center;
    flex-wrap: wrap;
}
.box{
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;
    gap: 1rem;
    flex: 1 1 clamp (300px, 30%, 400px);
}
.box__title{
    color: var(--text-color);
    font-size: var(--text-large);
}

@media screen and (max-width:480px) {
    header{
    flex-direction:column;
    gap: 2rem;
    }
    .gallery{
        grid-template-rows: repeat(4, auto);
        gap: 1rem;
    }
}

@media screen and (min-width: "320px"){
    header{flex-direction: column;
    gap:2rem;
    grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  @media {screen} and (max-width:600px){
    .row{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }
    .row .column {
        display: flexbox;
        flex-direction: column;
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
        gap: 1rem;
        width: 2000px;
      }
    .column img {
        margin-top: 8px;
        vertical-align: middle;
    }
        /*Cards*/
    .cards {
        display: flex;
        flex-direction: column;
        gap: 6rem;
        justify-content: center;
        flex-wrap: wrap;
    }
    .box{
        display: table-column;
        flex-direction: column;
        flex: 1 1 30%;
        gap: 1rem;
        flex: 1 1 clamp (300px, 30%, 400px);
    }
    .box__title{
        color: var(--text-color);
        font-size: var(--text-large);
    }
}  
