/*MISC*/
/*Colors*/
/*Spacings*/
/*Font-Family*/
/*Font-Sizes*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Tapestry', cursive; }

html {
  font-size: 62.5%;
  margin: 0; }

body {
  width: 100%;
  margin: auto;
  font-size: "Tapestry"; }

h1 {
  height: 5%;
  text-align: center;
  color: #462c27;
  text-shadow: 5px 5px 8px turquoise;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
  display: inline;
  margin-top: 5%; }

h2 {
  margin: 5%;
  text-decoration: underline;
  text-align: center;
  font-size: x-large; }

body {
  background-color: grey;
  background-image: url(../Images/top-view-delicious-organic-wine-and-grapes.jpg);
  background-blend-mode: lighten;
  position: relative; }

.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: center; }

/*PARTIALS*/
header {
  background-image: url(../Images/fondoheader.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 100%;
  margin: auto;
  padding: auto;
  align-content: center;
  padding: 2rem; }

@media screen and (max-width: 700px) {
  header, nav, ul, li {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small; } }

@media screen and (max-width: 700px) {
  header, nav, ul, li {
    height: 5%;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-small; } }

@media screen and (max-width: 360px) {
  header, a, img {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto; } }

footer, table, td, a {
  text-align: center;
  font-weight: bold;
  margin: 0 auto;
  padding: 0 auto;
  margin-top: 2%; }

/*VIEWS*/
/*Home*/
.right__image {
  width: 400px;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  border-color: brown;
  float: right;
  border: 5px;
  background-color: #07550c;
  box-sizing: border-box;
  width: 25%; }

.index__info {
  color: #2f3130;
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 900;
  text-align: left;
  background-color: #e8e8e8;
  text-align: justify;
  height: fit-content;
  line-height: 30px;
  padding: 2px;
  box-shadow: 1px 2px 10px 5px black;
  display: block;
  background-size: contain;
  background-position: center;
  border: 4px;
  border-radius: 2%;
  max-width: 95%;
  margin: 10% auto; }

a .logo {
  margin: auto;
  margin-bottom: 10%;
  display: flex; }

img {
  display: inline;
  flex-direction: row;
  justify-content: flex-end;
  flex-direction: row;
  align-content: flex-start; }

.video {
  margin-bottom: 1000px;
  padding-right: 1000px; }

@media screen and (max-width: 700px) {
  main {
    margin-top: 20%; } }

@media screen and (max-width: 360px) {
  body, html {
    margin: auto;
    width: 100%;
    max-width: 100% !important;
    overflow-x: hidden !important; } }

@media screen and (max-width: 450px) {
  img.right__image {
    display: inline-block;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    width: 100%; } }

@media screen and (max-width: 500px) {
  .index.index__info {
    margin: 10%; } }

/*Contactanos*/
.form__contact {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

@media screen and (min-width: 630px) {
  .form__contact {
    align-content: center;
    justify-content: center;
    flex-direction: row;
    display: inline;
    margin: auto;
    font-size: large; } }

.helados {
  background-color: lightgray;
  background-blend-mode: lighten;
  height: 10x;
  border: 3px solid black;
  display: inline-block;
  padding: 15px;
  margin: 0; }

.imagen__central {
  border: 10px outset #35854a;
  width: 100px; }

/*Helados de Temporada*/
table {
  width: 80%;
  font-size: large; }

table, tr, td {
  justify-content: space-between;
  align-items: center; }

/*Historia*/
.right__image {
  margin: 5%;
  padding: 20%, 50%;
  width: 25%;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  border-color: brown;
  float: right;
  border: 5px;
  background-color: #07550c;
  box-sizing: border-box;
  width: 25%; }

.index__info {
  color: #2f3130;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 900;
  text-align: left;
  background-color: #e8e8e8;
  text-align: justify;
  height: fit-content;
  line-height: 30px;
  padding: 2px;
  box-shadow: 1px 2px 10px 5px black;
  display: block;
  background-size: contain;
  background-position: center;
  border: 1px;
  border-radius: 2%;
  max-width: 95%;
  margin: 10% auto; }

/*Historia*/
@media screen and (min-width: 320px) {
  img .logo___historia {
    margin: 15%;
    align-content: center;
    justify-content: center;
    flex-direction: row; } }

/*Ingresar Nuevo Usuario*/
img.imagen__central {
  display: block;
  width: 50%;
  align-items: center;
  justify-content: center;
  margin: 5% auto;
  width: 10%;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  border-color: brown;
  float: right;
  border: 5px;
  background-color: #07550c;
  box-sizing: border-box; }

.form {
  font-size: large;
  font-weight: bold;
  width: 100%; }

@media screen and (max-width: 500px) {
  img.imagen__central {
    display: inline;
    width: 25%;
    align-items: center;
    justify-content: center;
    margin: 5% auto; } }

@media screen and (max-width: 500px) {
  form {
    font-size: large;
    font-weight: bold;
    width: 100%; } }

@media screen and (min-width: 1000px) {
  header {
    flex-direction: column; } }

/*Gallery*/
.gallery__container {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 20px;
  border-radius: 4px;
  transition: all 500ms; }

.gallery__img1 {
  grid-column: 1/3;
  height: 100%;
  width: 100%;
  transition: all 500ms; }

.gallery__img3 {
  grid-column: 1/ 2;
  grid-row: 2 / 3;
  height: 70%;
  width: 100%;
  transition: all 500ms; }

.gallery__img4 {
  grid-column: 2/ 3;
  grid-row: 2 / 3;
  height: 70%;
  width: 100%;
  transition: all 500ms; }

.gallery__img5 {
  grid-column: 3 / 5;
  grid-row: 1 /4;
  height: 84.5%;
  width: 100%;
  transition: all 500ms;
  position: relative; }

h2:hover {
  transform: scale(2.15); }

.gallery__img1:hover {
  transform: scale(1.15); }

.gallery__img3:hover {
  transform: scale(1.15); }

.gallery__img4:hover {
  transform: scale(1.15); }

.gallery__img5:hover {
  transform: scale(1.15); }

/*Cards de testimonio*/
img.box__img {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  transition: all 500ms;
  align-items: center;
  border-width: 2px;
  width: 80%;
  border-radius: 10px;
  border-color: green;
  border-style: solid; }

.box__title {
  color: var(--text-color);
  font-size: var(--text-large);
  transition: all 500ms;
  font-size: xx-large; }

.box__title:hover {
  transform: skew(5deg, 5deg); }

.row .column {
  display: flexbox;
  flex-direction: column;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  gap: 1rem;
  width: 2000px; }

.column img {
  margin-top: 8px;
  vertical-align: middle; }

/*Cards*/
.cards {
  display: flex;
  flex-direction: row;
  gap: 6rem;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5% auto;
  align-items: center;
  height: 50%; }

.box__title {
  color: var(--text-color);
  font-size: var(--text-large); }

@media screen and (max-width: 700px) {
  .gallery__container {
    display: block;
    margin: auto;
    width: 95%;
    align-content: center;
    justify-content: center; } }
