header {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 100%;
  margin: auto;
  padding: auto;
  align-content: center;
  /*position:absolute;*/ }
  header nav navbar-light style {
    color: white;
    margin: 0; }
  header nav ul, header nav li {
    margin: 0.5%;
    padding: 0.5%; }
  header nav ul, header nav li, header nav a {
    display: inline-block;
    flex-direction: column;
    align-content: flex-end;
    width: fit-content;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    flex-basis: 60%;
    font-size: large;
    margin: auto;
    justify-content: space-between; }
  header nav ul, header nav li {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    justify-content: space-between; }
