<!DOCTYPE html>
<html lang="es">
<head>
    <title>Wine Ice Cream</title>
    <link rel="icon" href="../Images/LogoWI.png">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <h1>
            <a href="">Ordenar en Línea</a>
        </h1>
        <a class="logo" href="./index.html"><img src="../Images/LogoWI.png" width="300"></a>
        <nav>
            <ul>
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li>
                    <a href="./Ingresar Nuevo Usuario.html">Ingresar/Nuevo Usuario</a>
                </li>
                <li>
                    <a href="./Historia.html">Historia</a>
                </li>
                <li>
                    <a href="./Helados.html">Helados</a>
                </li>
                <li>
                    <a href="./Helados de Temporada.html">Helados de Temporada</a>
                </li>
                <li>
                    <a href="./Testimonios.html">Testimonios</a>
                </li>
                <li>
                    <a href="./Contactanos.html">Contáctanos</a>
                </li>
            </ul>
        </nav>
    </header>
    <center>
        <h1>Helados de Temporada</h1>
        <a href="../index.html"><img src="../Images/LogoWI.png" width="300"></a>
        <br>
        <br>
    </center>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est neque reiciendis nisi incidunt odit porro, quod
        dolor qui nihil dolore ullam velit exercitationem laboriosam vel labore, optio aspernatur dolorem quos! Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Repudiandae porro similique tempora dicta repellendus,
        obcaecati voluptate natus atque ab quibusdam impedit totam alias libero necessitatibus animi accusamus odit
        explicabo tenetur. Lorem, ipsum dolor sit amet consectetur adipisicing elit. In perferendis quaerat, blanditiis
        molestiae iste voluptate eligendi debitis cum, natus necessitatibus provident laborum rem culpa totam expedita
        nulla hic dolorum assumenda.</p>
    <h2>
        <center>Sabores de los helados de "TEMPORADA" Wine Ice Cream</center>
    </h2>
    <table style="text-align: center" border="3" align="center" style="width: 100%" bordercolor="2c9e4b"
        cellspacing="5px" cellpadding="15%">
        <tr bgcolor="c344e9">
            <th>Sabores de Helados Exclusivos</th>
            <th>8 oz</th>
            <th>16 oz</th>
            <th>32 oz</th>
        </tr>
        <tr bgcolor="d376ef">
            <td>Champaña</td>
            <td>6.00</td>
            <td>12.00</td>
            <td>22.00</td>
        </tr>
        <tr bgcolor="e09ff4">
            <td>Cabernet Dark Chocolate</td>
            <td>6.00</td>
            <td>12.00</td>
            <td>22.00</td>
        </tr>
        <tr bgcolor="eab1fb">
            <td>Ron Ponche</td>
            <td>6.00</td>
            <td>12.00</td>
            <td>22.00</td>
        </tr>
        <tr bgcolor="f3d3fd">
            <td>Pumpkin Moscato</td>
            <td>6.00</td>
            <td>12.00</td>
            <td>22.00</td>
        </tr>
    </table>
    <br>
    <hr>
    <footer>
        <table border="1" align="center" bordercolor="black" cellspacing="2%" cellpadding="2%">
            <tr>
                <td> <a target="_blank" href="https://www.instagram.com/"> <img src="../Images/ig negro.png" alt="5"
                            width="50" title="Instagram" </a> </td> <td> <a target="_blank"
                            href="https://www.facebook.com/"> <img src="../Images/facebook negro.png" alt="5" width="50"
                                title="Facebook"></a></td>
                <td> <a target="_blank" href="https://www.twitter.com/"> <img src="../Images/twitter negro.png" alt="5"
                            width="50" title="Twitter"></a></td>
                <td> <a target="_blank" href="https://www.youtube.com/"> <img src="../Images/youtube negro.png" alt="5"
                            width="80" title="Youtube"></a></td>
            </tr>
            <br>
                <b>2022 Copyright &copy; Diseñado por Jackeline Tuñón, Curso de Desarrollo Web, Trabajo#1</b>
                <br>
                <a href="tel:+507+1234-5678"> <b>Contáctenos al &nbsp &#x260e;&nbsp +507-1234-5678</a>, &nbsp
                <a href="mailto:lorem.ipsum@gmail.com"> Envíanos un correo tambien haciendo click aquí. </a> </b>
    </footer>
</body>

</html>