<!DOCTYPE html>
<html lang="es">
<head>
    <title>Wine Ice Cream</title>
    <link rel="icon" href="../Images/LogoWI.png">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <h1>
            <a href="">Ordenar en Línea</a>
        </h1>
        <a class="logo" href="./index.html"><img src="../Images/LogoWI.png" width="300"></a>
        <nav>
            <ul>
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li>
                    <a href="./Ingresar Nuevo Usuario.html">Ingresar/Nuevo Usuario</a>
                </li>
                <li>
                    <a href="./Historia.html">Historia</a>
                </li>
                <li>
                    <a href="./Helados.html">Helados</a>
                </li>
                <li>
                    <a href="./Helados de Temporada.html">Helados de Temporada</a>
                </li>
                <li>
                    <a href="./Testimonios.html">Testimonios</a>
                </li>
                <li>
                    <a href="./Contactanos.html">Contáctanos</a>
                </li>
            </ul>
        </nav>
    </header>
    <center>
        <h1>Historia</h1>
        <a href="../index.html"><img src="../Images/LogoWI.png" width="300"></a>
        <img class="right__image"src="../Images/Gigi y Gabo 1.jpeg" alt="Creadores de Wine Ice Cream Gigi y Gabo">
        <p class="index__info">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum nisi fugiat consectetur quisquam doloribus
            omnis rerum voluptas labore, sequi eos porro cum sunt non. Voluptatibus perspiciatis quasi molestiae error
            facilis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci accusantium reprehenderit ratione
            voluptas quibusdam temporibus alias, libero non sed. Eveniet placeat sit enim architecto praesentium
            repudiandae ipsam excepturi suscipit veritatis.</p>
            <p class="index__info"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat voluptas omnis animi harum explicabo sed vitae ullam dolorum eveniet, aspernatur vero exercitationem consequuntur beatae, dolor, sint repellendus itaque. Expedita, mollitia. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet maxime illo ratione, aspernatur repudiandae placeat labore obcaecati ad nisi quaerat fugiat, asperiores aperiam sequi, laboriosam pariatur error totam minus officiis?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est autem et vitae exercitationem excepturi praesentium fugit voluptatum in harum sed cum velit quasi eligendi rerum voluptates temporibus quia, earum consequuntur!</p>
    </center>
    <br>
    <hr>
    <footer>
        <table border="1" align="center" bordercolor="black" cellspacing="2%" cellpadding="2%">
            <tr>
                <td> <a target="_blank" href="https://www.instagram.com/"> <img src="../Images/ig negro.png" alt="5"
                            width="50" title="Instagram" </a> </td> <td> <a target="_blank"
                            href="https://www.facebook.com/"> <img src="../Images/facebook negro.png" alt="5" width="50"
                                title="Facebook"></a></td>
                <td> <a target="_blank" href="https://www.twitter.com/"> <img src="../Images/twitter negro.png" alt="5"
                            width="50" title="Twitter"></a></td>
                <td> <a target="_blank" href="https://www.youtube.com/"> <img src="../Images/youtube negro.png" alt="5"
                            width="80" title="Youtube"></a></td>
            </tr>
            <br>
                <b>2022 Copyright &copy; Diseñado por Jackeline Tuñón, Curso de Desarrollo Web, Trabajo#1</b>
                <br>
                <a href="tel:+507+1234-5678"> <b>Contáctenos al &nbsp &#x260e;&nbsp +507-1234-5678</a>, &nbsp
                <a href="mailto:lorem.ipsum@gmail.com"> Envíanos un correo tambien haciendo click aquí. </a> </b>
    </footer>
</body>

</html>