<!DOCTYPE html>
<html lang="es">
<head>
    <title>Wine Ice Cream</title>
    <link rel="icon" href="../Images/LogoWI.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <h1>
            <a href="">Ordenar en Línea</a>
        </h1>
        <a class="logo" href="../index.html" ><img class="logo__img"src="../Images/LogoWI.png" width="300"></a>
        <div class="container-fluid slider d-flex justify-content-center align-items-center">
          <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="../Images/LogoWI.png" alt="logo" width="60px" >
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="../index.html">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../views/Ingresar Nuevo Usuario.html">Ingresar Nuevo Usuario</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../views/Historia.html">Historia</>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../views/Helados.html">Helados</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../views/Helados de Temporada.html">Helados de Temporada</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../views/Testimonios.html">Testimonios</>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../views/Contactanos.html">Contactanos</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </div>
    </header>
    <br>
    <center>
        <a href="../index.html">
            <img class="logo___historia"src="../Images/LogoWI.png" width="300"></a>
        <img class="right__image"src="../Images/Gigi y Gabo 1.jpeg" alt="Creadores de Wine Ice Cream Gigi y Gabo">
        <h2> 1. ¿Cómo surgió la idea de crear Wine Ice cream?, ¿Por qué decidieron emprender? </h2>  
        <p class= "index__info">
              Esta idea surgió desde inicios del año pasado, pero no fue hasta esta cuarentena que
              pudimos realizarlo, ya que por motivos de tiempo se nos dificultaba un poco.
              Nosotros tuvimos la oportunidad de probar el helado de wiski en Argentina y
              pensamos que porque no hacer uno de vino, ya que existen muchas personas como
              nosotros también amantes al vino.              
            </p>
            <p class="index__info"> Nuestro primer sabor fue el Berry Merlot, y luego decidimos sacar el Cherry Rose ya que muchas personas así como son amantes del vino tinto también lo son del vino
              rosado, aparte de ser nuestro sabor más dulce y menos fuerte. “el favorito de las
              chicas”. 2 meses después decidimos sacar el tercer sabor Peach Chardonnay, una
              fusión entre el sabor seco del Chardonnay y lo dulce del melocotón ambas hacen la
              mezcla perfecta en tu paladar.</p>
          <h2>2. Como se prepara Wine Icecream? </h2>
          <p class= "index__info">
            En Wine Icecream realizamos un proceso que conlleva tiempo, ya que la mezcla tiene que
            empezar a prepararse un día antes, entre los pasos esta calentar, reposar los ingredientes por
            separado, ya que como saben nuestro ingrediente principal es el vino y hacer helados con
            niveles de alcohol no es sencillo.
            <br>
            Nuestros helados llevan frutas frescas que son agregadas al momento de envasar como último
            paso. Las mismas les dan un toque dulce y único.
          </p>
          <h2> 3. A qué retos se enfrentaron al iniciar el proyecto? </h2>
          <p class="index__info">
            En realidad no ha sido fácil la trayectoria, ya que además del factor económico que es de gran
            importancia no somos heladeros de profesión, esto ha sido ensayo y error en muchos ámbitos,
            pero hemos crecido, sacado nuevos sabores y conquistado muchos paladares en Panamá.
            <br>
            Iniciamos con una pequeña maquina casera donde la cantidad obtenida de helados era mínima
            y nos costaba sacar las ventas a tiempo, hasta que finalmente gracias al volumen de clientes
            llegamos a la meta para la compra de una maquina mucho más grande rindiendo mejor en la
            producción.
          </p>
          <h2> 4. ¿Cómo tomaron la decisión de participar de la convocatoria de AEI? ¿Qué significa para
            ustedes ser uno de los ganadores?</h2>
          <p class="index__info">
            Pensamos en inscribirnos y dijimos porque no?, considerando que en panamá no existen
            helados de vino como tal y la idea resulto ser algo diferente e innovadora, tanto en producto
            como imagen.
            <br>
            Nos sentimos muy orgullosos ya que nuestro emprendimiento fue tomado en cuenta,
            recalcando que la convocatoria fue muy competitiva ya que los demás participantes contaban
            igualmente con muy buenos productos para el mercado.
            <br>
            Al igual darle las gracias a Copa Airlines por la iniciativa de apoyar a los compañeros en
            incentivar y dar a conocer nuestros emprendimientos en este concurso.
          </p>
          <h2>5. ¿Creen que la formación es importante a la hora de emprender un proyecto? </h2>
          <p class="index__info">
            Se necesita organización primeramente, en conjunto de paciencia y consistencia.
            <br>
            Por otra parte estar muy enfocado en la visión que tengamos hacia nuestro producto y hacia
            donde se quiere llegar. Establecernos metas a corto y a largo plazo para lograr nuestros
            objetivos.
          </p>
          <h2>6. ¿Qué le dirán a una persona que está pensando en emprender su propio proyecto pero que
            tiene dudas?</h2>
          <p class="index__info">
          Cualquier idea o meta que aspiren por muy pequeña que parezca, sigan esforzándose
          y luchando por cumplirla, siempre va a existir el miedo y la duda en la aceptación que
          tenga nuestra idea en otras personas incluso al momento de iniciar pueden recibir
          muchas críticas negativas como constructivas, pero siempre tratándolas de tomar por
          el lado positivo, utilizándolas como mejora.
          <br>
          Nada es fácil en esta vida, lastimosamente en Panamá no contamos con el mejor
          apoyo por parte del Gobierno para facilitar y agilizar trámites necesarios para futuras
          pequeñas y medianas empresas. Lo importante es no rendirse y seguir enfocado hasta
          lograr nuestros objetivos.
          </p>
          <h2> 7. ¿Qué es lo mejor y lo peor de tener su propio proyecto/emprendimiento?</h2>
          <p class="index__info">
            Lo mejor de esto es que eres tu propio jefe e inviertes tiempo y dedicación en algo que te
            gusta. Entre las cosas más complicadas cuando inicias un negocio es estar anuente de todas las
            responsabilidades que están a tu cargo (logística, producción, finanzas) y tratar de cumplir con
            todas de manera satisfactoria.
          </p>
          <h2> 8. ¿Tienen planes de hacer otros productos a futuro?</h2>
          <p class="index__info">
            En diciembre se vienen 2 sabores más y otras sorpresas, así que estén pendientes de nuestras
            redes sociales.
            <br>
            Al igual para el verano del 2021 venimos con un sabor totalmente tropical!
          </p>
    </center>
    <br>
    <hr>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <footer>
        <table border="1" align="center" bordercolor="black" cellspacing="2%" cellpadding="2%">
            <tr>
                <td> <a target="_blank" href="https://www.instagram.com/"> <img src="../Images/ig negro.png" alt="5"
                            width="50" title="Instagram" </a> </td> <td> <a target="_blank"
                            href="https://www.facebook.com/"> <img src="../Images/facebook negro.png" alt="5" width="50"
                                title="Facebook"></a></td>
                <td> <a target="_blank" href="https://www.twitter.com/"> <img src="../Images/twitter negro.png" alt="5"
                            width="50" title="Twitter"></a></td>
                <td> <a target="_blank" href="https://www.youtube.com/"> <img src="../Images/youtube negro.png" alt="5"
                            width="80" title="Youtube"></a></td>
            </tr>
            <br>
                <b>2022 Copyright &copy; Diseñado por Jackeline Tuñón, Curso de Desarrollo Web, Trabajo#1</b>
                <br>
                <a href="tel:+507+1234-5678"> <b>Contáctenos al &nbsp &#x260e;&nbsp +507-1234-5678</a>, &nbsp
                <a href="mailto:lorem.ipsum@gmail.com"> Envíanos un correo tambien haciendo click aquí. </a> </b>
    </footer>
</body>

</html>