<!DOCTYPE html>
<html lang="es">
<head>
    <title>Wine Ice Cream</title>
    <link rel="icon" href="../Images/LogoWI.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!-- Inicio Header -->
    <header>
        <h1>
            <a href="">Ordenar en Línea</a>
        </h1>
        <a class="logo" href="../index.html"><img src="../Images/LogoWI.png" width="300"></a>
        <nav>
            <ul>
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li>
                    <a href="./Ingresar Nuevo Usuario.html">Ingresar/Nuevo Usuario</a>
                </li>
                <li>
                    <a href="./Historia.html">Historia</a>
                </li>
                <li>
                    <a href="./Helados.html">Helados</a>
                </li>
                <li>
                    <a href="./Helados de Temporada.html">Helados de Temporada</a>
                </li>
                <li>
                    <a href="./Testimonios.html">Testimonios</a>
                </li>
                <li>
                    <a href="./Contactanos.html">Contáctanos</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- Fin Header -->
        <section id="cards" class="cards">
        <article class="box">
            <img class="box__img" src="../Images/Fotos de Galeria/gabo y chica brindando 1.jpg" alt="">
            <h2 class="box__title">Una tarde para disfrutar el helado mas rico de Panamá</h2>
        </article>
        <article class="box">
            <img class="box__img" src="../Images/Fotos de Galeria/Mask group-1.jpg" alt="">
            <h2 class="box__title">Los Creadores en Pandemia</h2>
        </article>
        <article class="box">
            <img class="box__img" src="../Images/Fotos de Galeria/Mask group-2.jpg" alt="">
            <h2 class="box__title">Clientes disfrutando sus helados</h2>
        </article>
        </section>
    <br>
    <hr>
    <h2>Galería de Imágenes</h2>
        <main id="gallery" class="gallery__container">
            <img class="gallery__img1" src="../Images/Fotos de Galeria/Mask group-3.jpg" alt="">
            <img class="gallery__img3" src="../Images/Fotos de Galeria/Mask group-6.jpg" alt="">
            <img class="gallery__img4" src="../Images/Fotos de Galeria/Mask group-7.jpg" alt="">
            <img class="gallery__img5" src="../Images/helado con ciudad de panama de fondo  - copia.jpg" alt="">
         </main>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas repudiandae reprehenderit quae impedit rem esse labore libero iste enim cumque quis atque et natus, pariatur omnis voluptate, repellendus, quos adipisci?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore asperiores, iusto eius maiores suscipit error architecto nulla nobis quisquam iure voluptas consectetur blanditiis unde, nisi neque officia deserunt optio rem.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, sed nam, cumque accusamus at rem qui aperiam repellat laboriosam provident obcaecati? Expedita numquam fugiat illum, rerum maxime eos dicta porro!
    </p>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
            <footer>
                <table border="1" align="center" bordercolor="black" cellspacing="2%" cellpadding="2%">
                    <tr>
                        <td> <a target="_blank" href="https://www.instagram.com/"> <img src="../Images/ig negro.png" alt="5" width="50" title ="Instagram"</a></td>
                        <td> <a target="_blank"href="https://www.facebook.com/"> <img src="../Images/facebook negro.png" alt="5" width="50" title="Facebook"></a></td>
                        <td> <a target="_blank"href="https://www.twitter.com/"> <img src="../Images/twitter negro.png" alt="5" width="50" title="Twitter"></a></td>
                        <td> <a target="_blank"href="https://www.youtube.com/"> <img src="../Images/youtube negro.png" alt="5" width="80"title="Youtube"></a></td>
                    </tr>
                <br>
                    <b>2022 Copyright &copy; Diseñado por Jackeline Tuñón, Curso de Desarrollo Web, Trabajo#1</b>
                    <br>
                    <a href="tel:+507+1234-5678"> <b>Contáctenos al &nbsp &#x260e;&nbsp +507-1234-5678</a>, &nbsp
                    <a href="mailto:lorem.ipsum@gmail.com"> Envíanos un correo tambien haciendo click aquí. </a> </b>
           </footer>
</body>
</html>
