header{
    background-image: url(../Images/fondoheader.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 100%;
    margin: auto;
    padding: auto;
    align-content: center;
    padding: $spacing-small;
}
   

    @media screen and (max-width: 700px) {
        header, nav, ul, li {
        margin-top: 1%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: small; } }
      
    @media screen and (max-width: 700px) {
    header, nav, ul, li {
        height: 5%;
        margin-top: 1%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: x-small; } }

    @media screen and (max-width: 360px) {
        header, a, img {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: auto; } }