/*Contactanos*/
.form__contact{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 630px) {
    .form__contact {
      align-content: center;
      justify-content: center;
      flex-direction: row;
      display: inline;
      margin: auto;
      font-size: large; } }

@media screen and (min-width:1200px){

}