
.helados{
    background-color: lightgray;
    background-blend-mode: lighten;
    height: 10x;
    border: 3px solid black;
    display:inline-block;
    padding: 15px;
    margin: 0;
}
.imagen__central{
    border: 10px outset #35854a;
    width: 100px;
}

