/*Home*/

.right__image {
    width: 400px;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    border-color: brown;
    float: right;
    border: 5px;
    background-color: rgb(7, 85, 12);
    box-sizing: border-box;
    width: 25%;
}
.index__info{
    color:rgb(47, 49, 48);
    gap: map-get($spacings, $spacing-large);
    font-size: large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:900;
    text-align:left;
    background-color: #e8e8e8;
    text-align: justify;
    height:fit-content;
    line-height: 30px;
    padding: 2px;
    box-shadow: 1px 2px 10px 5px black;
    display:block;
    background-size:contain;
    background-position: center;
    border: 4px;
    border-radius: 2%;
    max-width: 95%;
    margin: 10% auto;
}
a .logo{
    margin: auto;
    margin-bottom: 10%;
    display: flex;
}
img{
    display:inline;
    flex-direction: row;
    justify-content: flex-end;
    flex-direction: row;
    align-content:flex-start;
}
.video{
    margin-bottom: 1000px;
    padding-right: 1000px;
}
.btn{
    width: 150px;
    padding: 10px 12px;
    font-size: 18px;
    margin: 0 auto;
    border: none;
    margin: 5px 0;
}
.btn--aceptar {
    @extend.btn;
    background-color: pink;
    &:hover{
        background-color: blueviolet;
    }
}
.btn--cancelar {
    @extend.btn;
    background-color: lightcoral;
    &:hover{
        background-color: coral;
    }
}