  /*Home*/
  .right__image {
    width: 400px;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    border-color: brown;
    float: right;
    border: 5px;
    background-color: #07550c;
    box-sizing: border-box;
    width: 25%; }
  
  .index__info {
    color: #2f3130;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    text-align: left;
    background-color: #e8e8e8;
    text-align: justify;
    height: fit-content;
    line-height: 30px;
    padding: 2px;
    box-shadow: 1px 2px 10px 5px black;
    display: block;
    background-size: contain;
    background-position: center;
    border: 4px;
    border-radius: 2%;
    max-width: 95%;
    margin: 10% auto; }
  
  a .logo {
    margin: auto;
    margin-bottom: 10%;
    display: flex; }
  
  img {
    display: inline;
    flex-direction: row;
    justify-content: flex-end;
    flex-direction: row;
    align-content: flex-start; }
  
  .video {
    margin-bottom: 1000px;
    padding-right: 1000px; }
   
@media screen and (max-width: 700px) {
  main {
    margin-top: 20%; } }

@media screen and (max-width: 360px) {
  body, html {
    margin: auto;
    width: 100%;
    max-width: 100% !important;
    overflow-x: hidden !important; } }

    @media screen and (max-width: 450px) {
  img.right__image {
    display: inline-block;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    width: 100%; } }
    
    @media screen and (max-width: 500px) {
    .index.index__info {
      margin: 10%; } }