/*Ingresar Nuevo Usuario*/
img.imagen__central{
    display: block;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 5% auto;
    width: 10%;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    border-color: brown;
    float: right;
    border: 5px;
    background-color: #07550c;
    box-sizing: border-box;
}
.form{
    font-size: large;
    font-weight: bold;
    width: 100%;
}

@media screen and (max-width: 500px) {
  img.imagen__central {
    display: inline;
    width:25%;
    align-items: center;
    justify-content: center;
    margin: 5% auto; } }

@media screen and (max-width: 500px) {
  form {
    font-size: large;
    font-weight: bold;
    width: 100%; } }

@media screen and (min-width: 1000px) {
  header {
    flex-direction: column; } }