/*Ingresar Nuevo Usuario*/
.imagen__central{
    display: block;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 5% auto;
}
.form{
    font-size: large;
    font-weight: bold;
    width: 100%;
}
