/*Ingresar Nuevo Usuario*/
img.right__image{
    display: block;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 5% auto;
    width: 10%;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    border-color: brown;
    float: right;
    border: 5px;
    background-color: #07550c;
    box-sizing: border-box;
    width: 25%
}
.form{
    font-size: large;
    font-weight: bold;
    width: 100%;
}