
/*Gallery*/
.gallery__container {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap:20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 20px;
    border-radius: 4px;
    transition: all 500ms;
}
.gallery__img1{
    grid-column: 1/3;
    height: 100%;
    width: 100%;
    transition: all 500ms;
}
 .gallery__img3 {
    grid-column: 1/ 2;
    grid-row: 2 / 3 ;
    height: 70%;
    width: 100%;
    transition: all 500ms;
}
.gallery__img4 {
    grid-column: 2/ 3;
    grid-row: 2 / 3;
    height: 70%;
    width: 100%;
    transition: all 500ms;
}
.gallery__img5 {
    grid-column: 3 / 5; 
    grid-row:  1 /4 ;
    height: 84.5%;
    width: 100%;
    transition: all 500ms;
    position: relative;
}
h2:hover{
    transform:scale(2.15);
}
.gallery__img1:hover {
    transform:scale(1.15);
}
.gallery__img3:hover {
    transform:scale(1.15);
}
.gallery__img4:hover {
    transform:scale(1.15);
}
.gallery__img5:hover {
    transform:scale(1.15);
}
    /*Cards de testimonio*/
img.box__img{
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    transition: all 500ms;
    align-items: center;
    border-width: 2px;
    width:80%;
    border-radius: 10px;
    border-color: green;
    border-style: solid;
}

.box__title{
    color: var(--text-color);
    font-size: var(--text-large);
    transition: all 500ms;
    font-size: xx-large;
}
.box__title:hover{
    transform: skew(5deg, 5deg);
}
    .row .column {
        display: flexbox;
        flex-direction: column;
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
        gap: 1rem;
        width: 2000px;
      }
    .column img {
        margin-top: 8px;
        vertical-align: middle;
    }
        /*Cards*/
   .cards {
        display: flex;
        flex-direction: row;
        gap: 6rem;
        justify-content: center;
        flex-wrap: wrap;
        margin:5% auto;
        align-items: center;
        height: 50%;
    }

    .box__title{
        color: var(--text-color);
        font-size: var(--text-large);
    }
