
.flex{
    display:flex;
    align-items:center;
    justify-content: space-around;
    align-items: center;
}

/*Media queries*/
@media all and (max-width: 700px){
    .cards{
        flex-direction: column;
        margin-top: 20%;
        width: 75%;
    }
}
@media screen and (max-width:500px){
    article.box{
    grid-template-rows: repeat(5, 1fr);
    display: flex;
    align-items: center;
    }
}
@media screen and (max-width:700px) {
    header, nav, ul, li{
        margin-top: 1%;
        display: flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        font-size: small;
        }
    }
@media screen and (max-width:700px) {
    header, nav, ul, li{
        height: 5%;
        margin-top: 1%;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        font-size: x-small;
        } }
@media screen and (max-width:360px) {
    header, a, img{
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: auto;
    } } 
@media screen and (max-width:700px){
    main{
        margin-top: 20%;

    }
}
@media screen and (max-width:360px){
    body, html{
        margin:auto;
        width: 100%;
        max-width: 100% !important;
        overflow-x: hidden !important;
}}
@media screen and (max-width:700px){
    .gallery__container{
        display: block;
        margin: auto;
        width: 95%;
        align-content: center;
        justify-content: center;

 }}
@media screen and (max-width:800px){
   h1{
        display: inline;
        margin: auto;
}}
@media screen and (max-width:450px){
    img.right__image{
        display: inline-block;
        margin: auto;
        flex-direction: row;
        justify-content: center;
        width: 100%;

 }}

 @media screen and (max-width:500px){
    .index.index__info{
        margin: 10%;
 }}
 @media screen and (max-width:500px){
    .logo__img{
        flex-direction: row;
 }}
 /*Contactanos*/
@media screen and (min-width:500px){
    .form__contact{
        align-content: center;
        justify-content: center;
        flex-direction:row;
        display: inline;
        margin: auto;
        font-size: large;
    }
    
}
/*Historia*/
@media screen and (min-width:320px){
    img .logo___historia{
        margin: 15%;
        align-content: center;
        justify-content: center;
        flex-direction: row;
    }
    
}
/*media query Ingresar Nuevo Usuario*/
@media screen and (max-width:500px){
    .imagen__central{
     display: inline;
     width: 100%;
     align-items: center;
     justify-content: center;
     margin: 5% auto;
  }}
 
@media screen and (max-width:500px){
    form{
        font-size: large;
        font-weight: bold;
        width: 100%;

    }}

@media screen and (min-width: "1000px"){
    header{flex-direction: column;    
}
}
