
.flex{
    display:flex;
    align-items:center;
    justify-content: space-around;
    align-items: center;
}
@mixin flex ($dir, $jus, $alg, $gap){
    display:flex;
    flex-direction: $dir;
    justify-content: $jus;
    align-items: $alg;
    gap: $gap;
}

@mixin square ($size){
    width: $size;
    height: $size;
}

