* {
    margin: 0;
    padding: 0;
    font-family: 'Tapestry', cursive; }
  
  html {
    font-size: 62.5%;
    margin: 0; }
  
  body {
    width: 100%;
    margin: auto;
    font-size: "Tapestry"; }
  
  h1 {
    height: 5%;
    text-align: center;
    color: #462c27;
    text-shadow: 5px 5px 8px turquoise;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    display: inline;
    margin-top: 5%; }
  
  h2 {
    margin: 5%;
    text-decoration: underline;
    text-align: center;
    font-size: x-large; }
  
  body {
    background-color: grey;
    background-image: url(../Images/top-view-delicious-organic-wine-and-grapes.jpg);
    background-blend-mode: lighten;
    position: relative;}
