/*Colors*/
$primary:#9DA9A0;
$secondary: #72DDF7;
$alternative:#DB93B0;
$text-color: #1E3F20;
$base:#EDCD1D;

     /*Spacings*/
$spacing-large: 6rem ;
$spacing-medium: 2.4rem ;
$spacing-small: 2rem ;
$spacing-xsmal: 1rem ;

    

@each $key, $val in $spacings{ 
    .#{$key}{
        padding: #{$val};
    }
}
    /*Font-Family*/
$font-principal: 'Tapestry';
$dont-title: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans' 'Arial', 'sans-serif';

    /*Font-Sizes*/
$text-large: 5.2em;
$text-medium: 2.4em;
$text-base: 1.6em;
$text-small: 1.4em;

